@font-face {
    font-family: "montserrat";
    src: url(../../../resources/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "nanito";
    src: url(../../../resources/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}