@font-face {
  font-family: "montserrat";
  src: url(../../../resources/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "nanito";
  src: url(../../../resources/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 92.58px;
}
header nav {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
header nav a {
  color: #000;
  font-family: "montserrat";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
header nav a:hover {
  color: #0a1fdb;
}
header nav .active {
  color: #0a1fdb;
}
header nav .invis {
  display: none;
}
header h1 a {
  color: #000;
  font-family: "montserrat";
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 9px;
}
header .right {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
header .right .hoveringBlue:hover {
  color: #0a1fdb;
}
header .right svg {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
header .right .login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
header .right .login p {
  color: #000;
  font-family: "nanito";
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}
header .right .login p:hover {
  opacity: 75%;
}
header .burger {
  display: none;
}
header .burger svg {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  header nav .invis {
    display: inline;
  }
  header .visage {
    display: none;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  header {
    width: 95%;
    height: 67.58px;
  }
  header nav {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
  }
  header nav a {
    color: #000;
    font-family: "montserrat";
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
  }
  header nav a:hover {
    color: #0a1fdb;
  }
  header nav .invis {
    display: inline;
  }
  header .visage {
    display: none;
  }
  header .right {
    display: none;
  }
  header .burger {
    display: inline;
  }
}
footer {
  width: 100%;
  height: 538px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer {
  width: 95%;
  height: 457px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .footer .upper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  flex-wrap: wrap;
}
footer .footer .upper .box {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  border: 1px solid #d9d9d9;
}
footer .footer .upper .box h1 {
  color: #0a1fdb;
  font-family: "montserrat";
  font-size: 28px;
  font-weight: 400;
  text-decoration: none;
}
footer .footer .upper .box h1 a {
  color: #000;
  font-family: "montserrat";
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 9px;
}
footer .footer .upper .box .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
footer .footer .upper .box .links p, footer .footer .upper .box .links a {
  color: #000;
  font-family: "nanito";
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}
footer .footer .upper .box .links p span, footer .footer .upper .box .links a span {
  cursor: text;
}
footer .footer .upper .box .socals {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
footer .footer .upper .box .socals svg {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
footer .footer .bottom {
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 57px;
}
footer .footer .bottom p {
  color: #000;
  font-family: "nanito";
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
footer .footer .bottom p span {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  footer {
    width: 100%;
    height: 438px;
  }
  footer .footer {
    width: 95%;
    height: 357px;
  }
  footer .footer .upper {
    width: 100%;
    height: 300px;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  footer {
    width: 100%;
    height: 738px;
  }
  footer .footer {
    width: 95%;
    height: 657px;
  }
  footer .footer .upper {
    width: 100%;
    height: 300px;
  }
  footer .footer .upper .box {
    width: 50%;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  footer {
    width: 100%;
    height: 433px;
  }
  footer .footer {
    width: 95%;
    height: 347px;
  }
  footer .footer .upper {
    width: 100%;
    height: 300px;
    flex-direction: column;
  }
  footer .footer .upper .visage {
    display: none;
  }
  footer .footer .upper .box {
    width: 100%;
    height: 100px;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    padding: 0 10px;
  }
  footer .footer .upper .box h1 {
    color: #0a1fdb;
    font-family: "montserrat";
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
  }
  footer .footer .upper .box .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  footer .footer .upper .box .links p, footer .footer .upper .box .links a {
    color: #000;
    font-family: "nanito";
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
  }
  footer .footer .upper .box .socals {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  footer .footer .upper .box .socals svg {
    display: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  footer .footer .bottom {
    width: 100%;
    height: 47px;
  }
  footer .footer .bottom p {
    color: #000;
    font-family: "nanito";
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
  }
}
.fixed {
  width: 200px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #0a1fdb;
  position: fixed;
  bottom: 0;
  right: 20px;
  cursor: pointer;
}
.fixed svg {
  width: 26px;
  height: 26px;
}
.fixed p {
  color: #fff;
  font-family: "montserrat";
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .fixed {
    width: 56px;
    height: 56px;
  }
  .fixed p {
    display: none;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .fixed {
    width: 40px;
    height: 40px;
  }
  .fixed svg {
    width: 20px;
    height: 20px;
  }
  .fixed p {
    display: none;
  }
}
#index {
  width: 95%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}
#index .first {
  width: 100%;
  height: 640px;
  position: relative;
  background-image: url(../../resources/images/image1_full.png);
  background-position: center;
  background-size: cover;
}
#index .first .text {
  position: absolute;
  left: 8.84%;
  bottom: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 55px;
}
#index .first .text h1 {
  width: 400px;
  color: #000;
  font-family: "montserrat";
  font-size: 68px;
  font-weight: 400;
  text-decoration: none;
}
#index .first .text button {
  width: 144px;
  height: 40px;
  color: #0a1fdb;
  font-family: "montserrat";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid #0a1fdb;
  border-radius: 5px;
  background: none;
  transition: background-color 0.4s ease, color 0.4s ease;
  cursor: pointer;
}
#index .first .text button:hover {
  background-color: #0a1fdb;
  color: #fff;
}
#index .second {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
#index .second h2 {
  color: #0a1fdb;
  font-family: "montserrat";
  font-size: 28px;
  font-weight: 400;
  text-decoration: none;
}
#index .second .cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 20px;
}
#index .second .cards .card {
  width: 420px;
  height: 645px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #c7c7c7;
  cursor: pointer;
}
#index .second .cards .card .upper {
  width: 100%;
  height: 556px;
  position: relative;
}
#index .second .cards .card .upper .sale {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 10px;
  color: #fff;
  font-family: "nanito";
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  background-color: #000;
}
#index .second .cards .card .upper .info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
#index .second .cards .card .upper .info p {
  color: #000;
  font-family: "nanito";
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}
#index .second .cards .card .bottom {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#index .second .cards .card .bottom p {
  color: #000;
  font-family: "montserrat";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
#index .second .cards .card .bottom .price {
  color: #0a1fdb;
  font-family: "montserrat";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
#index .second .cards .card .bottom .price span {
  text-decoration: line-through;
}
#index .second .cards .card:hover .info {
  opacity: 1;
  visibility: visible;
}
#index .second .cards .card1 .upper {
  background-image: url(../../resources/images/card1.png);
  background-position: center;
  background-size: cover;
  transition: background-image 0.4s ease;
}
#index .second .cards .card1 .upper:hover {
  background-image: url(../../resources/images/mask1.png);
}
#index .second .cards .card2 .upper {
  background-image: url(../../resources/images/card2.png);
  background-position: center;
  background-size: cover;
  transition: background-image 0.4s ease;
}
#index .second .cards .card2 .upper:hover {
  background-image: url(../../resources/images/mask2.png);
}
#index .second .cards .card3 .upper {
  background-image: url(../../resources/images/card3.png);
  background-position: center;
  background-size: cover;
  transition: background-image 0.4s ease;
}
#index .second .cards .card3 .upper:hover {
  background-image: url(../../resources/images/mask3.png);
}
#index .second .cards .card4 .upper {
  background-image: url(../../resources/images/card4.png);
  background-position: center;
  background-size: cover;
  transition: background-image 0.4s ease;
}
#index .second .cards .card4 .upper:hover {
  background-image: url(../../resources/images/mask4.png);
}
#index .second a button {
  width: 144px;
  height: 40px;
  color: #0a1fdb;
  font-family: "montserrat";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid #0a1fdb;
  border-radius: 5px;
  background: none;
  transition: background-color 0.4s ease, color 0.4s ease;
  cursor: pointer;
}
#index .second a button:hover {
  background-color: #0a1fdb;
  color: #fff;
}
#index .third {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
#index .third h2 {
  color: #0a1fdb;
  font-family: "montserrat";
  font-size: 28px;
  font-weight: 400;
  text-decoration: none;
}
#index .third .cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#index .third .cards .card {
  width: 31.5%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 60px;
  background-color: #fdf8ec;
}
#index .third .cards .card svg {
  width: 126px;
  height: 152px;
}
#index .third .cards .card .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
#index .third .cards .card .text h3 {
  color: #0a1fdb;
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
#index .third .cards .card .text p {
  width: 260px;
  text-align: center;
  line-height: 25.6px;
  color: #000;
  font-family: "nanito";
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
#index .third .cards .bg-orange {
  background-color: #fe9c7a;
}
#index .fourth {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
#index .fourth h2 {
  color: #0a1fdb;
  font-family: "montserrat";
  font-size: 28px;
  font-weight: 400;
  text-decoration: none;
}
#index .fourth .bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#index .fourth .bottom div {
  width: 49%;
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ecff;
}
#index .fourth .bottom div p {
  width: 375px;
  text-align: center;
  line-height: 32px;
  color: #0a1fdb;
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
#index .fourth .bottom img {
  width: 49%;
  height: 680px;
}
#index .fifth {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
#index .fifth h2 {
  color: #0a1fdb;
  font-family: "montserrat";
  font-size: 28px;
  font-weight: 400;
  text-decoration: none;
}
#index .fifth .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  background-color: #fdf8ec;
  padding: 80px 0;
}
#index .fifth .bg .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 309px;
  height: 309px;
  cursor: pointer;
}
#index .fifth .bg .box .inside {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
#index .fifth .bg .box .inside p {
  text-align: center;
  color: #f8f8f8;
  font-family: "nanito";
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
#index .fifth .bg .box:hover .inside {
  opacity: 1;
  visibility: visible;
}
#index .fifth .bg .bg1 {
  background-image: url(../../resources/images/bg1.png);
  background-position: center;
  background-size: cover;
}
#index .fifth .bg .bg2 {
  background-image: url(../../resources/images/bg2.png);
  background-position: center;
  background-size: cover;
}
#index .fifth .bg .bg3 {
  background-image: url(../../resources/images/bg3.png);
  background-position: center;
  background-size: cover;
}
#index .fifth .bg .bg4 {
  background-image: url(../../resources/images/bg4.png);
  background-position: center;
  background-size: cover;
}
#index .fifth .bg .bg5 {
  background-image: url(../../resources/images/bg5.png);
  background-position: center;
  background-size: cover;
}
#index .fifth .bg .bg6 {
  background-image: url(../../resources/images/bg6.png);
  background-position: center;
  background-size: cover;
}
#index .fifth .bg .bg7 {
  background-image: url(../../resources/images/bg7.png);
  background-position: center;
  background-size: cover;
}
#index .fifth .bg .bg8 {
  background-image: url(../../resources/images/bg8.png);
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  #index .first {
    background-image: url(../../resources/images/image1_1200.png);
  }
  #index .second .cards .card {
    width: 410px;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  #index .first {
    height: 540px;
    background-image: url(../../resources/images/image1_1200.png);
  }
  #index .second .cards .card {
    width: 48%;
    height: 525px;
  }
  #index .second .cards .card .upper {
    height: 436px;
  }
  #index .third .cards {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
  }
  #index .third .cards .card {
    width: 100%;
    height: 200px;
    justify-content: center;
    flex-direction: row;
  }
  #index .fourth .bottom {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  #index .fourth .bottom div {
    width: 100%;
    height: 250px;
  }
  #index .fourth .bottom div p {
    width: 80%;
  }
  #index .fourth .bottom img {
    width: 100%;
    height: 415px;
  }
  #index .fifth .bg {
    gap: 10px;
  }
  #index .fifth .bg .box {
    width: 49%;
    height: 309px;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  #index .first {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 440px;
    background-image: url(../../resources/images/image1_phone.png);
  }
  #index .first .text {
    position: static;
    align-items: center;
  }
  #index .first .text h1 {
    width: auto;
    text-align: center;
    color: #fff;
    font-size: 65px;
  }
  #index .first .text button {
    color: #fff;
    border: 1px solid #fff;
    transition: background-color 0.4s ease, color 0.4s ease;
  }
  #index .first .text button:hover {
    background-color: #fff;
    color: #0a1fdb;
  }
  #index .second h2 {
    font-size: 24px;
  }
  #index .second .cards {
    gap: 10px;
  }
  #index .second .cards .card {
    width: 48%;
    height: 345px;
  }
  #index .second .cards .card .upper {
    height: 256px;
  }
  #index .second .cards .card .upper .sale {
    font-size: 12px;
  }
  #index .second .cards .card .bottom p, #index .second .cards .card .bottom .price {
    font-size: 13px;
  }
  #index .second a button {
    font-size: 13px;
  }
  #index .third h2 {
    font-size: 24px;
  }
  #index .third .cards {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
  }
  #index .third .cards .card {
    width: 100%;
    height: 280px;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  #index .third .cards .card .text h3 {
    font-size: 16px;
  }
  #index .third .cards .card .text p {
    font-size: 13px;
  }
  #index .fourth h2 {
    font-size: 24px;
  }
  #index .fourth .bottom {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  #index .fourth .bottom div {
    width: 100%;
    height: auto;
    padding: 10px 0;
  }
  #index .fourth .bottom div p {
    width: 80%;
    font-size: 16px;
  }
  #index .fourth .bottom img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  #index .fifth h2 {
    text-align: center;
    font-size: 24px;
  }
  #index .fifth .bg {
    gap: 5px;
    padding: 30px 0;
  }
  #index .fifth .bg .box {
    width: 49%;
    height: 209px;
  }
  #index .fifth .bg .box .inside p {
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */