
header {
    @include flex(space-between);
    @include size(95%, 92.58px);
    nav {
        width: 33%;
        @include flex(flex-start);
        gap: 30px;
        a {
            @include text(#000, "montserrat", 16px, 400);
            transition: color 0.4s ease;
            &:hover {
                color: $blue;
            }
        }
        .active {
            color: $blue;
        }
        .invis {
            display: none;
        }
    }
    h1 {
        a {
            @include text(#000, "montserrat", 24px, 400);
            letter-spacing: 9px
        }
    }
    .right {
        width: 33%;
        @include flex(flex-end);
        gap: 30px;
        .hoveringBlue {
            transition: color 0.4s ease;
            &:hover {
                color: $blue;
            }
        }
        svg {
            @include size(26px, 26px);
            cursor: pointer;
        }
        .login {
            @include flex(center);
            gap: 12px;
            p {
                @include text(#000, "nanito", 16px, 300);
                cursor: pointer;
                transition: opacity 0.4s ease;
                &:hover {
                    opacity: 75%;
                }
            }
        }
    }
    .burger {
        display: none;
        svg {
            @include size(26px, 26px);
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    header {
        nav {
            .invis {
                display: inline;
            }
        }
        .visage {
            display: none;
        }
    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    header {
        @include size(95%, 67.58px);
        nav {
            width: auto;
            @include flex(center);
            gap: 28px;
            a {
                @include text(#000, "montserrat", 13px, 400);
                transition: color 0.4s ease;
                &:hover {
                    color: $blue;
                }
            }
            .invis {
                display: inline;
            }
        }
        .visage {
            display: none;
        }
        .right {
            display: none;
        }
        .burger {
            display: inline;
        }
    }
}
