@import "./base/mixins";
@import "./base/variables";
@import "./base/fonts";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    @include size(100%, auto);
    @include flex(center);
    flex-direction: column;
}
@import "./components/header";
@import "./components/footer";
@import "./components/fixed";

