@import "./base/mixins";
@import "./base/variables";
@import "./base/fonts";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    @include size(100%, auto);
    @include flex(center);
    flex-direction: column;
}
@import "./components/header";
@import "./components/footer";
@import "./components/fixed";

#index {
    @include size(95%, auto);
    @include flex(center);
    flex-direction: column;
    gap: 80px;
    .first {
        @include size(100%, 640px);
        position: relative;
        background-image: url(../../resources/images/image1_full.png);
        background-position: center;
        background-size: cover;
        .text {
            position: absolute;
            left: 8.84%;
            bottom: 200px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 55px;
            h1 {
                width: 400px;
                @include text(#000, "montserrat", 68px, 400);
            }
            button {
                @include size(144px, 40px);
                @include text($blue, "montserrat", 16px, 400);
                border: 1px solid $blue;
                border-radius: 5px;
                background: none;
                transition: background-color 0.4s ease, color 0.4s ease;
                cursor: pointer;
                &:hover {
                    background-color: $blue;
                    color: #fff;
                }
            }
        }
    }
    .second {
        @include size(100%, auto);
        @include flex(center);
        flex-direction: column;
        gap: 40px;
        h2 {
            @include text($blue, "montserrat", 28px, 400);
        }
        .cards {
            width: 100%;
            @include flex(center);
            flex-wrap: wrap;
            gap: 20px 20px;
            .card {
                @include size(420px, 645px);
                @include flex(center);
                flex-direction: column;
                border: 2px solid #c7c7c7;
                cursor: pointer;
                .upper {
                    @include size(100%, 556px);
                    position: relative;
                    .sale{
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 2px 10px;
                        @include text(#fff, "nanito", 14px, 300);
                        background-color: #000;
                    }
                    .info {
                        position: absolute;
                        bottom: 0;
                        @include size(100%, 50px);
                        @include flex(center);
                        background-color: rgba(255, 255, 255, 0.5);
                        p {
                            @include text(#000, "nanito", 14px, 300);
                        }
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 0.4s ease, visibility 0.4s ease;
                    }
                }
                .bottom {
                    @include size(100%, 85px);
                    @include flex(center);
                    flex-direction: column;
                    gap: 10px;
                    p {
                        @include text(#000, "montserrat", 16px, 400);
                    }
                    .price {
                        @include text($blue, "montserrat", 16px, 400);
                        span {
                            text-decoration: line-through;
                        }
                    }
                }
                &:hover {
                    .info {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .card1 .upper{
                background-image: url(../../resources/images/card1.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/mask1.png);    
                }
            }
            .card2 .upper{
                background-image: url(../../resources/images/card2.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/mask2.png);    
                }
            }
            .card3 .upper{
                background-image: url(../../resources/images/card3.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/mask3.png);    
                }
            }
            .card4 .upper{
                background-image: url(../../resources/images/card4.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/mask4.png);    
                }
            }
        }
        a button {
            @include size(144px, 40px);
            @include text($blue, "montserrat", 16px, 400);
            border: 1px solid $blue;
            border-radius: 5px;
            background: none;
            transition: background-color 0.4s ease, color 0.4s ease;
            cursor: pointer;
            &:hover {
                background-color: $blue;
                color: #fff;
            }
        }
    }
    .third {
        @include size(100%, auto);
        @include flex(center);
        flex-direction: column;
        gap: 40px;
        h2 {
            @include text($blue, "montserrat", 28px, 400);
        }
        .cards {
            width: 100%;    
            @include flex(space-between);
            .card {
                @include size(31.5%, 480px);
                @include flex(center);
                flex-direction: column;
                flex-wrap: wrap;
                gap: 60px;
                background-color: #fdf8ec;
                svg {
                    @include size(126px, 152px);
                }
                .text {
                    @include flex(center);
                    flex-direction: column;
                    gap: 25px;
                    h3 {
                        @include text($blue, "montserrat", 20px, 400);
                    }
                    p {
                        width: 260px;
                        text-align: center;
                        line-height: 25.6px;
                        @include text(#000, "nanito", 16px, 300);
                    }
                }
            }
            .bg-orange {
                background-color: #fe9c7a;
            }
        }
    }
    .fourth {
        @include size(100%, auto);
        @include flex(center);
        flex-direction: column;
        gap: 40px;
        h2 {
            @include text($blue, "montserrat", 28px, 400);
        }
        .bottom {
            @include size(100%, auto);
            @include flex(space-between);
            div {  
                @include size(49%, 680px);
                @include flex(center);
                background-color: #d9ecff;
                p {
                    width: 375px;
                    text-align: center;
                    line-height: 32px;
                    @include text($blue, "montserrat", 20px, 400);
                }
            }
            img {
                @include size(49%, 680px);
            }
        }
    }
    .fifth {
        @include size(100%, auto);
        @include flex(center);
        flex-direction: column;
        gap: 40px;
        h2 {
            @include text($blue, "montserrat", 28px, 400);
        }
        .bg {
            @include flex(center);
            flex-wrap: wrap;
            gap: 80px;
            background-color: #fdf8ec;
            padding: 80px 0;
            .box {
                @include flex(center);
                @include size(309px,309px);
                cursor: pointer;
                .inside {
                    @include size(100%, 100%);
                    background-color: rgba(0, 0, 0, 0.75);
                     @include flex(center);
                    p {
                        text-align: center;
                        @include text(#f8f8f8, "nanito", 16px, 300)
                    }
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.4s ease, visibility 0.4s ease;
                }
                &:hover {
                    .inside {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .bg1 {
                background-image: url(../../resources/images/bg1.png);
                background-position: center;
                background-size: cover;
            }
            .bg2 {
                background-image: url(../../resources/images/bg2.png);
                background-position: center;
                background-size: cover;
            }
            .bg3 {
                background-image: url(../../resources/images/bg3.png);
                background-position: center;
                background-size: cover;
            }
            .bg4 {
                background-image: url(../../resources/images/bg4.png);
                background-position: center;
                background-size: cover;
            }
            .bg5 {
                background-image: url(../../resources/images/bg5.png);
                background-position: center;
                background-size: cover;
            }
            .bg6 {
                background-image: url(../../resources/images/bg6.png);
                background-position: center;
                background-size: cover;
            }
            .bg7 {
                background-image: url(../../resources/images/bg7.png);
                background-position: center;
                background-size: cover;
            }
            .bg8 {
                background-image: url(../../resources/images/bg8.png);
                background-position: center;
                background-size: cover;
            }
        }
    }
}
#shop {
    @include size(95%, auto);
    @include flex(space-between);
    gap: 20px;
    aside {
        width: 12%;
        @include flex(center);
        align-self: flex-start;
        flex-direction: column;
        gap: 35px;
        .browse {
            width: 100%;
            @include flex(center);
            flex-direction: column;
            gap: 10px;
            h2 {
                @include text(#000, "montserrat", 20px, 400);
                align-self: flex-start;
            }
            p {
                @include text(#000, "nanito", 16px, 300);
                align-self: flex-start;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            .active {
                color: $blue;
                text-decoration: underline;
                transition: color 0.4s ease;
                &:hover {
                    color: #000;
                }
            }
        }
        .filter {
            width: 100%;
            @include flex(center);
            flex-direction: column;
            gap: 10px;
            h2 {
                @include text(#000, "montserrat", 20px, 400);
                align-self: flex-start;
            }
            .check { 
                @include flex(center);
                justify-content: flex-start;
                flex-direction: row;
                gap: 10px;
                input {
                    @include size(16px, 16px);
                    cursor: pointer;
                }
                p {
                    @include text(#000, "nanito", 16px, 300);
                    cursor: pointer;
                }
            }
        }
        div {
            width: 100%;
            @include flex(center);
            flex-direction: column;
            gap: 15px;
            .selection {
                width: 100%;
                @include flex(space-between);
                flex-direction: row;
                cursor: pointer;
                p {
                    @include text(#000, "nanito", 16px, 300);
                }
            }  
        }
        .line {
            @include size(100%, 1px);
            background-color: #c7c7c7;
        }
    }
    section {
        width: 86%;
        @include flex(center);
        flex-direction: column;
        gap: 30px;
        h1 {
            @include text($blue, "montserrat", 60px, 400);
            align-self: flex-start;
        }
        .sort {
            align-self: flex-end;
            @include text(#000, "nanito", 16px, 300);
            display: flex; gap: 3px;
            cursor: pointer;
            svg {
                @include size(24px, 24px);
            }
        }
        .cards {
            width: 100%;
            @include flex(center);
            flex-wrap: wrap;
            gap: 30px;
            .card {
                @include size(22%, 481px);
                @include flex(center);
                flex-direction: column;
                border: 2px solid #c7c7c7;
                cursor: pointer;
                .upper {
                    @include size(100%, 556px);
                    position: relative;
                    .sale{
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 2px 10px;
                        @include text(#fff, "nanito", 14px, 300);
                        background-color: #000;
                    }
                }
                .bottom {
                    @include size(100%, 85px);
                    @include flex(center);
                    flex-direction: column;
                    gap: 10px;
                    p {
                        @include text(#000, "montserrat", 16px, 400);
                    }
                    .price {
                        @include text($blue, "montserrat", 16px, 400);
                        span {
                            text-decoration: line-through;
                        }
                    }
                }
            }
            .shop1 .upper{
                background-image: url(../../resources/images/shop1.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/shopmask1.png);    
                }
            }
            .shop2 .upper{
                background-image: url(../../resources/images/shop2.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/shopmask2.png);    
                }
            }
            .shop3 .upper{
                background-image: url(../../resources/images/shop3.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/shopmask3.png);    
                }
            }
            .shop4 .upper{
                background-image: url(../../resources/images/shop4.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/shopmask4.png);    
                }
            }
            .shop5 .upper{
                background-image: url(../../resources/images/card1.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/mask1.png);    
                }
            }
            .shop6 .upper{
                background-image: url(../../resources/images/shop6.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/shopmask6.png);    
                }
            }
            .shop7 .upper{
                background-image: url(../../resources/images/shop7.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/shopmask7.png);    
                }
            }
            .shop8 .upper{
                background-image: url(../../resources/images/shop8.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/shopmask8.png);    
                }
            }
            .shop9 .upper{
                background-image: url(../../resources/images/card2.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/mask2.png);    
                }
            }
            .shop10 .upper{
                background-image: url(../../resources/images/card3.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/mask3.png);    
                }
            }
            .shop11 .upper{
                background-image: url(../../resources/images/card4.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/mask4.png);    
                }
            }
            .shop12 .upper{
                background-image: url(../../resources/images/shop12.png);
                background-position: center;
                background-size: cover;
                transition: background-image 0.4s ease;
                &:hover {
                    background-image: url(../../resources/images/shopmask12.png);    
                }
            }
        }     
    }
}


@media screen and (min-width: 901px) and (max-width: 1200px) {
    #index {
        .first {
            background-image: url(../../resources/images/image1_1200.png);
        }
        .second .cards .card {
            width: 410px;
        }

    }
    #shop {
        aside {
            width: 20%;
        }
        section {
            width: 78%;
            .cards {
                .card {
                    width: 30%;
                }
            }
        }
    }

}
@media screen and (min-width: 601px) and (max-width: 900px) {
    #index {
        .first {
            height: 540px;
            background-image: url(../../resources/images/image1_1200.png);
        }
        .second .cards .card {
            @include size(48%, 525px);
            .upper {
                height: 436px;
            }
        }
        .third {
            .cards {
                width: 100%;    
                justify-content: center;
                flex-direction: column;
                gap: 25px;
                .card {
                    @include size(100%, 200px);
                    justify-content: center;
                    flex-direction: row;
                }
            }
        }
        .fourth {
            .bottom {
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                div {
                    @include size(100%, 250px);
                    p {
                        width: 80%;
                    }
                }
                img {
                    width: 100%;
                    height: 415px;
                }
            }
        }
        .fifth {
            .bg {
                gap: 10px;
                .box {
                    @include size(49%, 309px);
                }
            }
        }
    }
    #shop {
        aside {
            width: 20%;
        }
        section {
            width: 78%;
            .cards {
                .card {
                    width: 45%;
                }
            }
        }
    }

}
@media screen and (min-width: 300px) and (max-width: 600px) {
    #index {
        .first {
            @include flex(center);
            height: 440px;
            background-image: url(../../resources/images/image1_phone.png);
            .text {
                position: static;
                align-items: center;
                h1 {
                    width: auto;
                    text-align: center;
                    color: #fff;
                    font-size: 65px;
                }
                button {
                    color: #fff;
                    border: 1px solid #fff;
                    transition: background-color 0.4s ease, color 0.4s ease;
                    &:hover {
                        background-color: #fff;
                        color: $blue;
                    }
                }
            }
        }
        .second {
            h2 {
                font-size: 24px;
            }
            .cards {
                gap: 10px;
                .card {
                    @include size(48%, 345px);
                    .upper {
                        height: 256px;
                        .sale {
                            font-size: 12px;
                        }
                    }
                    .bottom {
                        p, .price {
                            font-size: 13px;
                        }
                    }
                }
            }
            a button {
                font-size: 13px;
            }
        }
        .third {
            h2 {
                font-size: 24px;
            }
            .cards {
                width: 100%;    
                justify-content: center;
                flex-direction: column;
                gap: 25px;
                .card {
                    @include size(100%, 280px);
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    .text {
                        h3 {
                            font-size: 16px;
                        }
                        p {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .fourth {
            h2 {
                font-size: 24px;
            }
            .bottom {
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                div {
                    @include size(100%, auto);
                    padding: 10px 0;
                    p {
                        width: 80%;
                        font-size: 16px;
                    }
                }
                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
            }
        }
        .fifth {
            h2 {
                text-align: center;
                font-size: 24px;
            }
            .bg {
                gap: 5px;
                padding: 30px 0;
                .box {
                    @include size(49%, 209px);
                    .inside p {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    #shop {
        flex-direction: column;
        justify-content: center;
        aside {
            width: 100%;
            gap: 15px;
            .filter {
                .check {
                    display: none;
                }
            }
            .selection {
                .plus {
                    &::after {
                        content: "+";
                    }
                }
                p {
                    .minus {
                        display: none;
                    }
                }
            }
        }
        section {
            width: 100%;
            h1 {
                text-align: center;
                align-self: center;
                font-size: 50px;
            }
            .cards {
                gap: 10px;
                .card {
                    @include size(48%, 345px);
                }
            }
        }
    }

}